@import './variables';

html,
body {
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: $font-globalSize;
}

span {
    &.title {
        font-weight: $font-globalWeight;
    }
}